!!! 5
%html
  %head
    %title ScratchDay 2011
  %body
    %div
      %object{"classid" => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", "width" => "480", "height" => "296", "id" => "utv848750"}
        %param{"name" => "flashvars", "value" => "autoplay=false&brand=embed&cid=8121386&locale=ja_JP&v3=1"}
        %param{"name" => "allowfullscreen", "value" => "true"}
        %param{"name" => "allowscriptaccess", "value" => "always"}
        %param{"name" => "movie", "value" => "http://www.ustream.tv/flash/viewer.swf"}
        %embed{ |
          "flashvars" => "autoplay=false&brand=embed&cid=8121386&locale=ja_JP&v3=1", |
          "width" => "480", "height" => "296", |
          "allowfullscreen" => "true", "allowscriptaccess" => "always", |
          "id" => "utv848750", |
          "name" => "utv_n_60122", |
          "src"=>"http://www.ustream.tv/flash/viewer.swf", |
          "type"=>"application/x-shockwave-flash" |
        } |
      -#%object{:type => "application/x-java-applet"}
        %param{:name => "codebase", :value => "http://scratch.mit.edu/static/misc"}
        %param{:name => "codebase", :value => "ScratchApplet.jar"}
        %param{"name" => "project", "value" => "../../static/projects/DarkFusion/1721779.sb"}
      %applet{:id => 'ProjectApplet', :style => 'display:block', :code => 'ScratchApplet', |
      :codebase => 'http://scratch.mit.edu/static/misc', :archive => 'ScratchApplet.jar', |
      :height => '387', :width => '482'} |
        %param{:name => 'project', :value => '../../static/projects/DarkFusion/1721779.sb'}
