<html>
  <head>
    <title>scratch</title>
  </head>
  <body>
    <div id="scratch">
      <applet id='ProjectApplet' style='display:block' code='ScratchApplet' codebase='http://scratch.mit.edu/static/misc' archive='ScratchApplet.jar' height='387' width='482'>
      <param name='project' value='../../static/projects/mrmayu/1760158.sb'>
      </applet>
    </div>
  </body>
</html>
