<html>
  <head>
    <style type="text/css">
      .log {
        color: red;
      }
    </style>
    <script>
      ws = new WebSocket("ws://localhost:8080");
      ws.onopen = function(e) {
        var resultAreaObj = document.getElementById('result');
        resultAreaObj.innerHTML = '<span class="log">onopen</span><br>' + resultAreaObj.innerHTML;
      };
      ws.onclose = function(e) {
        var resultAreaObj = document.getElementById('result');
        resultAreaObj.innerHTML = '<span class="log">onclose</span><br>' + resultAreaObj.innerHTML;
      };
      ws.onmessage = function(e) {
        var resultAreaObj = document.getElementById('result');
        //resultAreaObj.innerHTML += '<span class="log">onmessage</span><br>';
        resultAreaObj.innerHTML = '<span class="status">' + e.data + '</span><br>' + resultAreaObj.innerHTML;
        //console.log(e.data);
      };
      ws.onerror = function(e) {
        var resultAreaObj = document.getElementById('result');
        resultAreaObj.innerHTML = '<span class="log">onerror</span><br>' + resultAreaObj.innerHTML;
      };
      send = function() {
        var textFieldObj = document.getElementById('textField');
        var data = textFieldObj.value;
        if (data) {
          ws.send(data);
          textFieldObj.value = '';
        }
      };
    </script>
  </head>
  <body>
    <input type='text' id='textField' />
    <button onclick='send();'>send</button><br>
    <button onclick='ws.close();'>close</button>
    <hr>
    <div id='result'></div>
  </body>
</html>

